@import '../../globals.scss';

.bike__container {
    h2 {
        @apply  text-xl font-bold lg:text-4xl xl:text-5xl;
    }
}

.bike__container__1st_section {
    background: linear-gradient(to right, #00000099, #00000090),
        url('https://www.yamahamotorsports.com/media/images_products/2023-yzf-r1/1920px/23-YAM-YZFR1N1L-US-DPBSE-ACT-1662-01.JPG.webp');

    min-height: 600px;
    background-position: center;
    background-size:auto;

    @extend .container, .section;

    @apply flex flex-col items-center justify-center gap-3;
}
