@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    @apply max-w-[100vw] px-[3%] md:px-[5%] lg:px-[15%] xl:px-[20%];
}

.section {
    @apply py-10 lg:py-20;
}

.next__image {
    position: relative !important;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    @apply bg-blue-50;
}
::-webkit-scrollbar-thumb {
    @apply bg-blue-300;
}
::-webkit-scrollbar-thumb:hover {
    @apply bg-blue-400;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
    @apply rounded-full;
}


.nextui-button-text {
    z-index: 1 !important;
}